<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Info</title>
</head>
<body>
    <h1>Buy Item</h1>
    <p>To proceed, please use the following dummy credentials for buyer :</p>
    <ul>
        <li><strong>Username: seller@gmail.com</strong> </li>
        <li><strong>Password: 12345</strong> </li>
    </ul>
    <h1>Sell Item</h1>
     <p>To proceed, please use the following dummy credentials for seller:</p>
    <ul>
        <li><strong>Username: Buyer@gmail.com</strong> </li>
        <li><strong>Password: 12345 </strong> </li>
    </ul>

    <p><a href="/login">Click here to login</a></p>
</body>
</html>
