<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
   {{>navbar}}
   {{>search}}
   <div class="home">
    <h1 class="home-text">Welcome to YatraDham</h1>
    <img src="images/img.jpeg" alt="" class="home-img">
   </div>
   {{>footer}}
</body>
</html>