<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    {{> navbar}}
    
    <div class="login-container">
        <form action="/login" method="POST" class="login-form">
            <h1 class="login-title">Sign In</h1>
            <input type="email" class="login-input" placeholder="Enter Email" name="email" autocomplete="off" required>
            <input type="password" class="login-input" placeholder="Enter Password" name="password" autocomplete="off" required>
            <input type="submit" class="login-btn" value="Login">
        </form>
    </div>
</body>
</html>
